language: generic
sudo: required
services :
    - docker

before_install:
    - docker build -t workabhaswadhwa/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true USERNAME/react-test npm test -- --coverage

after_success:
    - docker build -t workabhaswadhwa/multi-client ./client
    - docker build -t workabhaswadhwa/mulit-nginx ./nginx
    - docker build -t workabhaswadhwa/mulit-server ./server
    - docker build -t workabhaswadhwa/mulit-worker ./worker

#Log into docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

#Push images to docker hub
    - docker push workabhaswadhwa/multi-client
    - docker push workabhaswadhwa/multi-nginx
    - docker push workabhaswadhwa/multi-server
    - docker push workabhaswadhwa/multi-worker
